.coverletter {
    display: block;
    // margin-bottom: 2rem;
    margin-top: 6px;

    font-size: 180%;

    @include avoid-break;

    & span {
        color: $color-primary;
    }

    &__greeting {
        display: inline-block;
        margin-top: 6px;

        // min-width: 49%;
        // color: $color-secondary;
        @include break-before;
    }

    &__body {
        box-sizing: border-box;
        // margin: 0px;
        margin: 20px;
    }

    &__closing {
        // display: inline-block;
        display: block;
        // min-width: 49%;
    }
}
