{{ if .CoverLetter }}
<div id="coverletter" class="section">
    <div class="section__content">
        <div class="coverletter">
            <div>
                {{ time.Format ":date_long" now }}
            </div>
            <div class="coverletter__greeting">
                <span>
                    {{ if .CoverLetter.Addressee }}
                            {{ .CoverLetter.Addressee | safeHTML | emojify }}
                    {{ else }}
                                {{ .CoverLetter.Greeting | safeHTML | emojify }}
                    {{ end }}
                </span>
            </div>
            <div class="coverletter__body">
                <p>{{ .CoverLetter.Body | safeHTML | emojify }}</p>
            </div>
            <div class="coverletter__closing">
                <li>
                    {{ range .CoverLetter.Closing }}
                    <li>{{ . | safeHTML }}</li>
                    {{ end }}
                </li>
            </div>
        </div>
    </div>
</div>
{{ end }}
