{{ if .CoverLetter }}
<div id="coverletter" class="section">
    <div class="section__content">
        <div class="coverletter">
            <div>
                {{ time.Format ":date_long" now }}
            </div>
            <div class="coverletter__greeting">
                <span>
                    {{ if .CoverLetter.Addressee.Name }}
                            {{ .CoverLetter.Addressee | safeHTML | emojify }}
                    {{ else }}
                            {{ .CoverLetter.Greeting | safeHTML | emojify }}
                    {{ end }}
                </span>
            </div>
            <div class="coverletter__body">
                {{ range .CoverLetter.Body }}
                  <ul>{{ . | safeHTML | emojify }}</ul>
                {{ end }}
            </div>
            <div class="coverletter__closing">
                <p>
                    {{ .CoverLetter.Closing | safeHTML | emojify }}
                    <br>
                    {{ .BasicInfo.NickName }} <span>{{ .BasicInfo.LastName }}</span>
                </p>
            </div>
        </div>
    </div>
</div>
{{ end }}
